# external experiments
exp/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

output/

# Results
# *.bin


.waf-*
.waf3-*
build
bin
obj
*.cbp
.lock-waf*
*.pyc
.vscode
*.layout
__pycache__
